#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  place-items: center;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  border: 2px solid #fff;
}

.turn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.is-selected {
  background-color: #fdfdfd;
  color: #fff;
}

.turn-square {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  border: 2px solid #fff;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}
